# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=inventory_service
POSTGRES_HOST=inventory-db
POSTGRES_PORT=5432

# Product Service Configuration
PRODUCT_SERVICE_URL=http://product-service:8001

